{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div id="creator">
        <h1>Sudoku creator</h1>
        <form action="/sudoku/new" method="POST">
            <p>Sudoku name:<br>
            <input type="text" name="name" placeholder="Cool sudoku" pattern="[0-9a-zA-Z -]{3,48}" autofocus required title="Please only use characters a-z, A-Z, 0-9, spaces and dashes (-)"></p>
            {% for row in range(0, 9) %}
                {% for col in range(0, 9) %}
                    <input type="text" maxlength="1" name="cell{{ row }}{{ col }}" style="width: 15px" pattern="[1-9]" onkeypress="return event.charCode >= 49 && event.charCode <= 57">
                {% endfor %}
                <br>
            {% endfor %}
            <p>Instructions:<br>
            <textarea name="instructions" rows="4" cols="43" placeholder="Normal sudoku rules apply."></textarea></p>
            <select name="display">
                <option value="private">Private</option>
                <option value="link">Anyone with the link</option>
                <option value="public">Public</option>
            </select>
            <input type="submit" value="Submit">
            <input type="hidden" name="csrf_token" value={{ session.csrf_token }}>
        </form>
    </div>
</div>
{% endblock %}