{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div id="creator">
        <h1>Sudoku creator</h1>
        <form action="/new" method="POST">
            <p>Sudoku name:<br>
            <input type="text" minlength="3" maxlength="48" name="name" placeholder="Cool sudoku"></p>
            {% for row in range(0, 9) %}
                {% for col in range(0, 9) %}
                    <input type="text" maxlength="1" name="cell{{ row }}{{ col }}" style="width: 15px" onkeypress="return event.charCode >= 49 && event.charCode <= 57">
                {% endfor %}
                <br>
            {% endfor %}
            <p>Instructions:<br>
            <textarea name="instructions" rows="4" cols="43" placeholder="Normal sudoku rules apply."></textarea></p>
            <select name="display">
                <option value="private">Private</option>
                <option value="link">Anyone with the link</option>
                <option value="public">Public</option>
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
{% endblock %}